@model IEnumerable<StoreApplication.WebApp.ViewModels.StoreViewModel>

@{
    ViewData["Title"] = "Index";
}


@{
    Layout = "_EmptyLayout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Storeloc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Storeloc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Storephone)
                </td>
                <td>

                    @Html.ActionLink("Select", "Select", new { storeLoc= item.Storeloc })

                </td>
            </tr>
        }
    </tbody>
</table>
