@model IEnumerable<StoreApplication.WebApp.ViewModels.StoreViewModel>

@{
    ViewData["Title"] = "Index";
}


@{
    Layout = "_EmptyLayout";
}

<h1>Select A Location</h1>

<form asp-controller="Admin" asp-action="Index" method="get">
    <p>
        Zip Code: <input type="text" name="zipCode">
        <input type="submit" value="Search" />
    </p>

</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Storeloc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Storeloc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>

            <td>

                @Html.ActionLink("Select", "Select", new { storeLoc = item.Storeloc })

            </td>
        </tr>
        }
    </tbody>
</table>
